.navbar-default {
    background-color: #161616;
    padding-bottom: 10px;
}

#logo{
    height: 100px;
    width: auto;
}

.nav-item{
    margin-left: 25px;
    font-size: 25px;
}

.nav-link{
  color: #d3d3d3;
}

.footer{
  background-color: #161616;
  width: 100%;
  padding: 5px;
  display: block;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  color: #d3d3d3;
}

.content{
  padding: 10px;
}

#mainText{
  float: left;
  width: 70%;
  background-color: #d3d3d3;
  border-radius: 4px;
  padding: 5px;
}

a{
  color:white;
}

#booster{
  float: right;
  width: 25%;
  margin-left: 20px;
  margin-right: 20px;
}

.card{
  width: 240px;
  height: auto;
  margin:20px;
  margin-bottom: 5px;
}
